.projectspage {
  background-image: url("../../assets/Homepage4_bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 2rem 1rem 4rem 1rem;
}

.projectspage article {
  transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
  padding: 3rem 2.5rem 2.5rem 2.5rem;
  width: 70rem;
  max-width: 100%;
  background-color: rgba(206, 209, 191, 0.85);
  border-radius: 1.5rem;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.projectspage li {
  list-style: none;
  padding-right: 1rem;
}

.projectspage .bullet-list li {
  list-style: disc;
  text-align: left;
  padding-right: 0;
}

@media screen and (max-width: 736px) {
  .projectspage article {
    padding: 2rem 1.25rem 2rem 1.25rem;
    border-radius: 1rem;
  }
}
